<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Basketball Team Signup</title>
  </head>
  <body>
    <!--
      TODO: Create your form here!

      Your form should:
      - Use Rails form helpers
      - Submit to '/team' with POST method
      - Have fields for: name, coach, pg, sg, pf, sf, c
      - Have a submit button with id="Submit"

      Hint: Use form_with helper
    -->
  </body>
</html>
